/*=============== Font - Montserrat - Medium 500 ===============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*=============== Global ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 3rem 0 0 0;
  font-family: 'Montserrat', sans-serif;
  font-size: .938rem;
  background-color: #fafeff;
  color: #233539;
}

h1, h2, h3 {
  color: #11414b;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: .938rem;
}

button {
  border-radius: 6px;
  cursor: pointer;
}

input {
  outline: none;
}

.main {
  overflow-x: hidden;
}

.section {
  padding: 4.5rem 0 2.5rem;
}

.section__title {
  font-size: 1.25rem;
  color: #151f28;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 2rem;;
}

.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*=============== Header ===============*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: transparent;
}

/*=============== Navigation Bar ===============*/
.logo{
  width: 140px;
  cursor: pointer;
}

.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo, .nav__toggle {
  color: #FFF;
}

.nav__logo {
  font-weight: 600;
}

.nav__toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

.nav__menu {
  position: relative;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: #fafeff;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
    padding: 3rem;
    transition: .4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  color: #919ea1;
  font-weight: 600;
  text-transform: uppercase;
}

.nav__link:hover {
  color: #44686f;
}

.nav__close {
  position: absolute;
  top: .75rem;
  right: 1rem;
  font-size: 1.5rem;
  color: #11414b;
  cursor: pointer;
}

/*=============== Navigation Bar - Login Button ===============*/

.login-btn{
  background-color: #0171d3;
  color: #FFF;
  padding: 0.5rem 1rem;
  font-weight: 600;
  transition: .3s;
  border-radius: 6px;
}

.login-btn:hover {
  background-color: #0088ff;
}

@media (max-width: 767px) { 
  .login-btn {
      display:none;
  }
}

.show-menu {
  right: 0;
}


.scroll-header {
  background-color: #fafeff;
  box-shadow: 0 0 4px rgba(14, 55, 63, 0.15);
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle {
  color: #11414b;
}

.active-link {
  position: relative;
  color: #11414b;
}

.active-link::before {
  content: '';
  position: absolute;
  background-color: #11414b;
  width: 100%;
  height: 2px;
  bottom: -.75rem;
  left: 0;
}

/*=============== Home ===============*/
.home__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 83%;
}

.home__container {
  position: relative;
  height: calc(100vh - 3rem);
  align-content: center;
  align-items: center;
  justify-content: center;
  row-gap: 3rem;
}

.home__data-subtitle, 
.home__data-title, 
.home__social-link {
  color: #151f28;
}

.home__data-subtitle {
  display: block;
  font-weight: 600;
  margin-bottom: .75rem;
}

.home__data-title {
  align-items: center;
  font-size: 4.5rem;
  font-weight: 800;
  margin-bottom: 2.5rem;
}

.home__info {
  background-color: #0171d3;
  border-radius: 15px;
  color: #FFF;
  display: flex;
  padding: 1.5rem 1rem;
  align-items: center;
  column-gap: .5rem;
  position: absolute;
  right: 0;
  bottom: 1rem;
  width: 228px;
}

.home__info-title {
  display: block;
  font-size: .813rem;
  font-weight: 600;
  margin-bottom: .75rem;
}

.home__info-button {
  font-size: .75rem;
}

.home__info-overlay {
  overflow: hidden;
}

.home__info-img {
  border-radius: 20px;
  width: 145px;
  transition: .3s;
}

.home__info-img:hover {
  border-radius: 10px;
}

/*=============== Buttons ===============*/
.button {
  border-radius: 6px;
  display: inline-block;
  background-color: #0171d3;
  color: #FFF;
  padding: 1rem 2rem;
  font-weight: 600;
  transition: .3s;
}

.button:hover {
  background-color: #0088ff;
}

.button--flex {
  display: flex;
  align-items: center;
  column-gap: .25rem;
}

.button--link {
  background: none;
  padding: 0;
}

.button--link:hover {
  background: none;
}

/*=============== About ===============*/
.about__data {
  text-align: center;
  color: #151f28;
}

.about__container {
  row-gap: 2.5rem;
}

.about__description {
  margin-bottom: 2rem;
}

.about__img {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.about__img-overlay {
  overflow: hidden;
}

.about__img-one {
  border-radius: 15px;
}

.about__img-one {
  transition: .3s;
}

.about__img-one:hover {
  transform: scale(1.1);
}

/*=============== Places ===============*/
.place__card, .place__img {
  height: 230px;
}

.place__container {
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
}

.place__card {
  position: relative;
  overflow: hidden;
}

.place__card:hover .place__img {
  transform: scale(1.1);
}

.place__img {
  transition: .3s;
  border-radius: 15px;
}

.place__title {
  color: #ffffff;
}

.place__content {
  color: #151f28;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .75rem .75rem 1rem;
}

.place__rating {
  align-self: flex-end;
  display: flex;
  align-items: center;
}

.place__rating-icon {
  font-size: .75rem;
  margin-right: .25rem;
}

.place__rating-number {
  font-size: .813rem;
}

.place__subtitle, .place__price {
  display: block;
}

.place__title {
  font-size: 1rem;
  margin-bottom: .25rem;
}

.place__subtitle {
  font-size: .75rem;
  margin-bottom: 1.25rem;
}

.place__button {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: .75rem 1rem;
}

/*=============== Footer ===============*/
.footer__container {
  row-gap: 5rem;
}

.footer__content {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer__title, 
.footer__subtitle {
  font-size: 1rem;
}

.footer__title {
  margin-bottom: .5rem;
}

.footer__description {
  margin-bottom: 2rem;
}

.footer__social {
  font-size: 1.25rem;
  color: #151f28;
  margin-right: 1.25rem;
}

.footer__subtitle {
  margin-bottom: 1rem;
}

.footer__item {
  margin-bottom: .75rem;
}

.footer__link {
  color: #151f28;
}

.footer__link:hover {
  color: #11414b;
}

.footer__rights {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  text-align: center;
}

.footer__copy, .footer__terms-link {
  font-size: .813rem;
  color: #919ea1;
}

.footer__terms {
  display: flex;
  column-gap: 1.5rem;
  justify-content: center;
}

.footer__terms-link:hover {
  color: #44686f;
}

/*========== Scroll Up Button ==========*/
.scrollup {
  border-radius: 6px;
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: #0171d3;
  padding: .5rem;
  display: flex;
  opacity: .9;
  z-index: 10;
  transition: .4s;
}

.scrollup:hover {
  background-color: #0088ff;
  opacity: 1;
}

.scrollup__icon {
  color: #FFF;
  font-size: 1.2rem;
}

.show-scroll {
  bottom: 5rem;
}

/*=============== Scroll Bar ===============*/
::-webkit-scrollbar {
  width: .60rem;
  background-color: #e2e8e9;
}

::-webkit-scrollbar-thumb {
  background-color: #b8c4c7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #919ea1;
}

/*=============== MEDIA QUERIES Media Queries For Responsive Design ===============*/

/*=============== Small Devices ===============*/
@media screen and (max-width: 340px) {
  .place__container {
    grid-template-columns: max-content;
    justify-content: center;
  }
  .experience__content {
    padding: 0;
  }
  .experience__overlay:nth-child(1) {
    width: 190px;
  }
  .home__info {
    width: 190px;
    padding: 1rem;
  }
  .experience__img,
  .video__container {
    padding: 0;
  }
}

/*=============== Medium Devices ===============*/
@media screen and (min-width: 568px) {
  .video__container {
    display: grid;
    grid-template-columns: .6fr;
    justify-content: center;
  }
  .place__container {
    grid-template-columns: repeat(3, max-content);
  }
  .subscribe__form {
    width: 470px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .nav {
    height: calc(3rem + 1.5rem);
  }
  .nav__link {
    color: #FFF;
    text-transform: initial;
  }
  .nav__link:hover {
    color: #FFF;
  }
  .nav__dark {
    position: initial;
  }
  .nav__menu {
    display: flex;
    column-gap: 1rem;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }
  .nav__toggle, .nav__close {
    display: none;
  }
  .change-theme-name {
    display: none;
  }
  .change-theme {
    color: #FFF;
  }
  .active-link::before {
    background-color: #FFF;
  }
  .scroll-header .nav__link {
    color: #44686f;
  }
  .scroll-header .active-link {
    color: #44686f;
  }
  .scroll-header .active-link::before {
    background-color: #11414b;
  }
  .scroll-header .change-theme {
    color: #44686f;
  }
  .section {
    padding: 7rem 0 2rem;
  }
  .home__container {
    height: 100vh;
    grid-template-rows: 1.8fr .5fr;
  }
  .home__data {
    align-self: flex-end;
  }
  .home__social {
    flex-direction: row;
    align-self: flex-end;
    margin-bottom: 3rem;
    column-gap: 2.5rem;
  }
  .home__info {
    bottom: 3rem;
  }
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .about__data, .about__title {
    text-align: initial;
  }
  .about__title {
    margin-bottom: 1.5rem;
  }
  .about__description {
    margin-bottom: 2rem;
  }
  .discover__container {
    width: 610px;
    margin-left: auto;
    margin-right: auto;
  }
  .discover__container,
  .place__container {
    padding-top: 2rem;
  }
  .experience__overlay:nth-child(1) {
    width: 363px;
  }
  .subscribe__bg {
    background: none;
    border-radius: 15px;
    padding: 0;
  }
  .subscribe__container {
    background-color: #0171d3;
    border-radius: 15px;
    padding: 3.5rem 0;
  }
  .subscribe__input {
    padding: 0 .5rem;
  }
  .footer__rights {
    flex-direction: row;
    justify-content: space-between;
  }
}

/*=============== Large Devices ===============*/
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .home__container {
    grid-template-rows: 2fr .5fr;
  }
  .home__info {
    width: 328px;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
  .home__info-title {
    font-size: .938rem;
  }
  .home__info-img {
    width: 240px;
  }
  .about__img-one {
    width: 450px;
  }
  .discover__card {
    width: 237px;
  }
  .discover__container {
    width: 700px;
  }
  .discover__data {
    left: 1.5rem;
    bottom: 2rem;
  }
  .discover__title {
    font-size: 1.25rem;
  }
  .experience__content {
    margin: 1rem 0;
    column-gap: 3.5rem;
  }
  .experience__overlay:nth-child(1) {
    width: 463px;
  }
  .video__container {
    grid-template-columns: .7fr;
  }
  .video__description {
    padding: 0 8rem;
  }
  .place__container {
    gap: 3rem 2rem;
  }
  .place__card, .place__img {
    height: 263px;
  }
  .footer__content {
    justify-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1024px;
  }
}

@media screen and (min-height: 721px) {
  body {
    margin: 0;
  }
  .home__container, .home__img {
    height: 640px;
  }
}


.card__container{
  align-items: center;
  max-width: 950px;
  width: 100%;
  padding: 10px 0;
}
.main-card{
  display: flex;
  justify-content: space-evenly;
  width: 200%;
  transition: 1s;
}
.main-card .cards{
  width: calc(100% / 2 - 10px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: space-between;
}
.main-card .cards .card{
  width: calc(100% / 3 - 10px);
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}
.main-card .cards .card:hover{
  transform: translateY(-15px);
}
.cards .card .content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cards .card .content .img{
  height: 130px;
  width: 130px;
  border-radius: 50%;
  padding: 3px;
  background: #0088ff;
  margin-bottom: 14px;
}
.card .content .img img{
  height: 100%;
  width: 100%;
  border: 3px solid #ffff;
  border-radius: 50%;
  object-fit: cover;
}
.teamimg:hover{
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.281));
}
.card .content .name{
  font-size: 20px;
  font-weight: 500;
}
.card .content .job{
  font-size: 20px;
  color: #0088ff;
}
.card .content .media-icons{
  margin-top: 10px;
  display: flex;

}
.media-icons a{
  text-align: center;
  line-height: 33px;
  height: 35px;
  width: 35px;
  margin: 0 4px;
  font-size: 14px;
  color: #FFF;
  border-radius: 50%;
  border: 2px solid transparent;
  background: #0171d3;
  transition: all 0.3s ease;
}
.media-icons a:hover{
  color: #0088ff;
  background-color: #fff;
  border-color: #0171d3;
}
 .card__container .button{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
}
@media (max-width: 768px) {
  .card__container{
    align-items: center;
    max-width: 950px;
    width: 50%;
    padding: 0px 0;
  }
  .main-card .cards .card{
    justify-content: center;
    margin: 20px 0 10px 0;
    width: calc(100% / 2 - 10px);
  }
}
@media (max-width: 600px) {
  .main-card .cards .card{
    /* margin: 20px 0 10px 0; */
    width: 100%;
  }
}
