@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar{
    width: none;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    background: linear-gradient(62deg, #8ec5fc 0%, #c3f5fc 100%);
}
.bg-img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.form{
    position: absolute;
    z-index: 4;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form.signup{
    opacity: 0;
    pointer-events: none;
}
.forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
}
.forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
}
header{
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}
form{
    margin-top: 30px;
}
.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
    background: #8b8b8b17;
}
.field input:focus{
    border-bottom-width: 2px;
}
.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
    background: #8b8b8b57;
    border-radius: 50px;
}
.email-icon{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #8b8b8b;
    padding: 5px;
}
.field button{
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover{
    background-color: #0088ff;
}
.form-link{
    text-align: center;
    margin-top: 15px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}
.form a{
    color: #0171d3;
    text-decoration: none;
}
.form-content a:hover{
    text-decoration: none;
}

/* Showing Errors */
.field input.error-input {
    border-color: #ff3860;
    background-color: #ff737317;
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(4px);
    }

    50% {
        transform: translateX(-4px);
    }

    75% {
        transform: translateX(4px);
    }

    100% {
        transform: translateX(0);
    }
}

.field input.success-input {
    border-color: #09c372;
    background-color: #09c37217;
}

.error {
    color: #ff3860;
    font-size: 12px;
    margin-top: 2px;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .container{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 30px;
    }
    .bg-img {
        height: 100%;
        width: 100%;
        position: relative;
        left: 0px;
        top: 0px;
        z-index: -1;
    }
    .form{
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 4;
        max-width: 430px;
        width: 100%;
        padding: 30px;
        border-radius: 16px;
        background: #FFF;
    }
}

/* Notifications */

/* Login Errors */

.errorNotification {
    width: 200px;
    padding: 20px;
    position: fixed;
    left: 50%;
    margin-left: -100px;
    top: 20px;
    border-radius: 15px 15px 15px 15px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: slideDown 0.5s ease-in-out;
    z-index: 998;
    text-align: center;
    color: black;
    transition: all 0.3s ease;
    margin-top: -100%;
}

.errorNotification.active{
    margin-top: 0;
    transition: all 0.3s ease;
}

/* Forgot Password */

.forgotNotification {
    width: 600px;
    padding: 20px;
    position: fixed;
    align-items: center;
    top: 20px;
    border-radius: 15px 15px 15px 15px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: slideDown 0.5s ease-in-out;
    z-index: 998;
    text-align: center;
    color: black;
    transition: all 1s ease;
    /* margin-top: -100%; */
    opacity: 0;
}

.forgotNotification::before{
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #60efff 0%, #0061ff 100% );
    transform: translate3d(0px, 20px, 0) scale(0.95);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: 15px 15px 15px 15px;
}

.forgotNotification::after{
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: 15px 15px 15px 15px;
}

.forgotNotification.active{
    /* margin-top: 0; */
    opacity: 1;
    transition: all 1s ease;
}

.forgotHeader {
    font-size: 20px;
    color: #0171d3;
    text-align: center;
    margin-bottom: 10px;
}

.forgotMessage {
    font-size: 15px;
    color: #9b9b9b;
    text-align: center;
}

.forgotHeader.forgotIcon {
    padding-top: 50px;
    font-size: 25px;
    color: #0171d3;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
